.badge-outline-info2 {
  color: #0b0035;
  border: 1px solid #0b0035;
}

.badge-outline-warning2 {
  color: #a1a16b;
  border: 1px solid #a1a16b;
}

.badge-outline-danger2 {
  color: #487783;
  border: 1px solid #487783;
}


.form-control{
  font-size: 0.90rem !important;
}

