<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-3">
            <h4 class="text-left mb-4 text-dark">
              <a [routerLink]="['/obras']"
                ><i class="icon-action-undo mr-2"></i>{{ obra.codigo }} | {{ obra.nombre }}</a
              >
            </h4>
          </div>
          <div class="col-6">
            <app-cabecera-pages [titulo]="'Detalle pagos'"></app-cabecera-pages>
        </div>
          <div class="col-sm-3 col-3">
            <div class="btn-group pull-right">
              <button
              *ngIf="!mesesAtras"
                type="button"
                class="btn btn-outline-primary btn-rounded "
                data-toggle="modal"
                data-target="#modalNuevoPago"
                (click)="getEspecialidad(); resetForm()"
              >
                <i class="icon-note"></i>Nuevo
              </button>

              <input
                type="file"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                #file
                (change)="handleFileInput($event)"
                style="display: none"
              />

              <button
                type="button"
                class="btn btn-outline-dark btn-rounded"
                (click)="createPDF()"
              >
                <i class="icon-doc"></i>Reporte PDF
              </button>

              <app-btn-reporte-excel
              [data]="data"
              [headings]="headings"
              [sheetName]="'Hoja1'"
              [_from]="'dp'"
              [fileName]="'Reporte_DetallePagos_'+obra.codigo+'_'+obra.nombre+'_'+titlepage"
              [datosParametros]="datosParametros"
            >
            </app-btn-reporte-excel>
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-12" >


            <div class="table-responsive1" >
              <strong>Total trabajadores: {{ collectionSize }}</strong>
              <ag-grid-angular
              *ngIf="isVisible"
                #dtGrid
                style="width: 100%; height: 100%"
                class="ag-theme-alpine"
                [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions"
                [suppressMenuHide]="true"
                [suppressColumnVirtualisation]="false"
                [suppressRowVirtualisation]="false"
                [pagination]="true"
                [groupSelectsChildren]="true"
                [rowSelection]="rowSelection"
                [enableCellChangeFlash]="true"
                [alwaysShowHorizontalScroll]="true"
                [alwaysShowVerticalScroll]="true"
                [suppressMaxRenderedRowRestriction]="true"
                [overlayLoadingTemplate]="overlayLoadingTemplate"
                [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                [localeText]="localeText"
                [paginationPageSize]="15"
                [pinnedBottomRowData]="pinnedBottomRowData"
                [rowClassRules]="rowClassRules"
                (rowValueChanged)="onRowValueChanged($event)"
                (gridReady)="onGridReady($event)"
                [editType]="'fullRow'"
              ></ag-grid-angular>


            </div>

          </div>
          <ng-template #sinData>
            <div class="row">
              <div class="col-md-12">
                <div class="text-alert-danger">
                  Sin datos
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal nuevo pago-->
<div
  class="modal fade"
  id="modalNuevoPago"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalNuevoPagoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoPagoLabel">Nuevo trabajador</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="form-sample"
          [formGroup]="editPagoForm"
          (ngSubmit)="newPago()"
        >
          <div class="modal-body">
            <p class="card-description">Información personal</p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">R.U.T</label>
                  <div class="col-sm-4">
                    <input
                      class="form-control"
                      name="rut"
                      id="rut"
                      type="number"
                      placeholder="1111111"
                      max="99999999"
                      minlength="8"
                      formControlName="rut"
                    />
                  </div>
                  -
                  <div class="col-sm-2">
                    <input
                      type="text"
                      class="form-control"
                      name="dig"
                      id="dig"
                      placeholder="K"
                      readonly
                      formControlName="dig"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Número ficha</label>
                  <div class="col-sm-9">
                    <select
                      class="form-control"
                      name="ficha"
                      formControlName="ficha"
                    >
                      <option value="">Seleccionar</option>
                      <option [value]="'F'+i+1" *ngFor="let item of numbers;let i=index">F{{i+1}}</option>

                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nombre</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      name="nombre"
                      placeholder="Nombre de ejemplo"
                      formControlName="nombre"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Especialidad</label>
                  <div class="col-sm-9">
                    <select
                      class="form-control"
                      name="especialidad"
                      formControlName="especialidad"
                    >
                      <option value="">Seleccionar</option>
                      <option
                        *ngFor="let item of especialidades"
                        [value]="item.id"
                      >
                        {{ item.descripcion }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <b class="card-description"> Datos de pago </b>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Sueldo líquido</label>
                  <div class="col-sm-3">
                    <!--  <label class="col-sm-3 col-form-label">{{editPagoForm.get('sueldoLiquido')?.value | number}}</label> -->
                    <input
                      type="number"
                      class="form-control"
                      formControlName="sueldo_liq"
                      name="sueldoLiquido"
                      min="1"
                    />
                  </div>
                  <label class="col-sm-3 col-form-label float-right"
                    >Dias a pago</label
                  >
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="dias"
                      name="diasPago"
                      min="0"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"
                    >Valor hora extra líquido</label
                  >
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="valor_hora"
                      name="valorHoraExtraLiquido"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Asignaciones</label>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="asignaciones"
                      name="asignaciones"
                    />
                  </div>
                  <label class="col-sm-3 col-form-label">Ajuste positivo</label>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="ajuste_pos"
                      name="ajustePositivo"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Anticipo</label>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="anticipo"
                      name="anticipo"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Viático</label>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="viatico"
                      name="viatico"
                    />
                  </div>
                  <label class="col-sm-3 col-form-label">Aguinaldo</label>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="aguinaldo"
                      name="aguinaldo"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"
                    >Descuentos varios</label
                  >
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="dctos_varios"
                      name="descuentosVarios"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Zona 10%</label>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="zona10"
                      name="zona10"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"
                    >Finiquito fin de mes</label
                  >
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="finiquito"
                      name="finiquito"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="file.click()"
              placeholder="Seleccione un archivo excel"
              name="file"
            >
              <i class="icon-cloud-upload"></i>Carga masiva

            </button>




            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!editPagoForm.valid"
            >
              Guardar
            </button>
            <button type="button" class="btn btn-light" data-dismiss="modal">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

