<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle pagos</h4>
        <hr>
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-start">
              <button type="submit" class="btn btn-outline-primary btn-rounded " data-toggle="modal" data-target="#modalNuevoPago"><i class="icon-note"></i>Nuevo</button>
              <button type="submit" class="btn btn-outline-success btn-rounded ml-2"><i class="icon-paper-clip"></i>Descargar excel</button>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
             <div class="table-responsive" >
          <table class="table table-striped " >
            <thead >
              <tr>
                <th>N.</th>
                <th class="wraptxt">Fin de mes</th>

                <th class="wraptxt">Nombre completo</th>
                <th class="wraptxt">N. Ficha</th>
                <th>Rut</th>
                <th>Especialidad</th>
                <th class="wraptxt">Sueldo líquido</th>
                <th class="wraptxt">Dias a pago</th>
                <th class="wraptxt">Valor hora extra líquido</th>
                <th class="wraptxt">Total periodo</th>
                <th class="wraptxt">Hora extra legal lunes a sábados</th>
                <th class="wraptxt">Total valor hora extra líquido</th>
                <th class="wraptxt">Diferencia días sábados</th>
                <th class="wraptxt"> Diferencia días domingos</th>
                <th class="wraptxt">Total Bonos</th>
                <th class="wraptxt">Asignaciones</th>
                <th class="wraptxt">Ajuste positivo</th>
                <th class="wraptxt">Total ganado</th>
                <th>Anticipo</th>
                <th class="wraptxt">Descuentos varios</th>
                <th class="wraptxt">Remuneración a pagar</th>
                <th class="wraptxt">Finiquito fin de mes</th>
                <th class="wraptxt">Liquido a pagar</th>
                <th>Acciones</th>
              </tr>

            </thead>
          <!--   <thead>
              <tr>
                <th><input type="number" placeholder="Search ID" name="search-id" id="search-id"/></th>
                <th><input type="number" placeholder="Search first name" name="search-first-name" id="search-name"/></th>
                <th><input type="number" placeholder="Search last name" name="search-last-name"/></th>
              </tr>
            </thead> -->
            <tbody>
              <tr *ngFor="let item of dataExample">
                <td>{{item.numero}}</td>
                <td>{{item.findemes}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.numFicha}}</td>
                <td>{{item.rut}}</td>
                <td>{{item.especialidad}}</td>
                <td align="right">{{item.sueldoLiquido | number}}</td>
                <td align="right">{{item.diasPago}}</td>
                <td align="right">{{item.valorHoraExtraLiq | number}}</td>
                <td align="right">{{getTotalPeriodo(item.sueldoLiquido,item.diasPago) | number}}</td>
                <td align="right">{{item.horaExtraLunesSabado | number}}</td>
                <td align="right">{{item.totalHoraExtraLiquido | number}}</td>
                <td align="right">{{item.diferenciaSabado | number}}</td>
                <td align="right">{{item.diferenciaDomingos}}</td>
                <td align="right">{{item.totalBonos | number}}</td>
                <td align="right">{{item.asignaciones | number}}</td>
                <td align="right">{{item.ajustePositivo | number}}</td>
                <td align="right">{{item.totalGanado | number}}</td>
                <td align="right">{{item.anticipo | number}}</td>
                <td align="right">{{item.descuentosVarios | number}}</td>
                <td align="right">{{item.remuneracionPagar | number}}</td>
                <td align="right">{{item.finiquitoFinMes | number}}</td>
                <td align="right">{{item.liquidoAPagar | number}}</td>
                <td>
                  <button type="button" class="btn btn-outline-success btn-rounded btn-sm " data-toggle="modal" data-target="#modalEditarPago" (click)="editPago(item)"><i class="icon-pencil ml-1" ></i></button>
                    <button type="button" class="btn btn-outline-danger btn-rounded btn-sm"><i class="icon-trash ml-1"></i></button>
                </td>
              </tr>

            </tbody>

            <tfoot >
              <tr>
                <td colspan="4"></td>
                <th>Total periodo</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
            </tfoot>
          </table>
        </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!--Modal nuevo pago-->
<div class="modal fade" id="modalNuevoPago" tabindex="-1" role="dialog" aria-labelledby="modalNuevoPagoLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoPagoLabel">Nuevo Trabajador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">R.U.T</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="nombre" id="nombre" type="number" placeholder="Nombre de ejemplo">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Num ficha</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="usuario" id="usuario" type="number" placeholder="userExample">
            </div>


          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Nombre</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="rol" id="rol" type="number" placeholder="Nombre de ejemplo">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Especialidad</label>
            </div>
            <div class="col-lg-8">
              <select class="form-control">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Sueldo liquido</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="rol" id="rol" type="number" placeholder="000">

            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Valor hora extra</label>
            </div>
            <div class="col-lg-8">
               <input class="form-control"  name="rol" id="rol" type="number" placeholder="000">

            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal editar pago-->
<div class="modal fade" id="modalEditarPago" tabindex="-1" role="dialog" aria-labelledby="modalNuevoPagoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoPagoLabel">Editando pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-sample" [formGroup]="editPagoForm">
          <p class="card-description ">
            Información personal
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">R.U.T</label>
                <div class="col-sm-9">
                  <input class="form-control"  name="nombre" id="nombre" type="text" placeholder="Nombre de ejemplo"
                  formControlName="rut" readonly>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Número ficha</label>
                <div class="col-sm-9">
                  <input class="form-control"  name="rol" id="rol" type="number" name="numFicha"
                  formControlName="numFicha" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                  <input class="form-control"  name="rol" id="rol" type="text" placeholder="Nombre de ejemplo"
                  formControlName="nombre" readonly name="nombre">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Especialidad</label>
                <div class="col-sm-9">
                  <input class="form-control"  name="rol" id="rol" type="text" placeholder="Nombre de ejemplo" name="especialidad"
                  formControlName="especialidad" readonly>
                </div>
              </div>
            </div>
          </div>

          <p class="card-description ">
            Datos de pago
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Sueldo líquido</label>
                <div class="col-sm-9">
                 <!--  <label class="col-sm-3 col-form-label">{{editPagoForm.get('sueldoLiquido')?.value | currency}}</label> -->
                  <input type="number" class="form-control" formControlName="sueldoLiquido" name="sueldoLiquido"  />
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Dias a pago</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" formControlName="diasPago" name="diasPago"/>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group row">
                <label class="col-sm-6 col-form-label">Total periodo</label>
                <div class="col-sm-6">
                  <strong class="col-sm-3 col-form-label">{{totalPeriodoEdit | currency}}</strong>
                  <!-- <input type="number" class="form-control" formControlName="totalPeriodo" name="totalPeriodo" readonly [value]="totalPeriodoEdit"/> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Valor hora extra líquido</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="valorHoraExtraLiquido" name="valorHoraExtraLiquido"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Asignaciones</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="asignaciones" name="asignaciones"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Ajuste positivo</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="ajustePositivo" name="ajustePositivo"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Anticipo</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="anticipo" name="anticipo"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Descuentos varios</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="descuentosVarios" name="descuentosVarios"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Finiquito fin de mes</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" formControlName="finiquito" name="finiquito" />
                </div>
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="!editPagoForm.valid">Editar pago</button>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
