<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Proyectos</h4>
        <hr>
        <div class="row">
         <div class="col-12">
          <form>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputEmail4">Código obra</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="0000">
              </div>
              <div class="form-group col-md-3">
                <label for="name">Descripción</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ejemplo de obra">
              </div>
              <div class="form-group col-md-4">
                <label for="dir">Dirección</label>
                <input type="text" class="form-control" id="direccion" placeholder="Av Las Condes 1000">
              </div>
              <div class="form-group col-md-3">
                <label for="dir">Administrativo a cargo</label>
                <input type="text" class="form-control" id="direccion" placeholder="Juan Carlos Tapia">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputZip">Entrega proyecto</label>
                <input type="date" class="form-control" id="inputZip">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Terminaciones</label>
                <input type="date" class="form-control" id="inputZip">
              </div>
              <div class="form-group col ">
                <label for="inputCity" >Entrega parcial</label>
                <input type="checkbox" class="form-control" id="inputCity">
              </div>

              <div class="form-group col-md-2">
                <label for="inputZip">Inst. Cubiertas/Imperm.</label>
                <input type="date" class="form-control" id="inputZip">
              </div>
              <div class="form-group col-md-3">
                <label for="inputZip">Estructura</label>
                <input type="date" class="form-control" id="inputZip">
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-success btn-rounded"><i class="icon-check"></i>Guardar</button>
              <button type="submit" class="btn btn-danger btn-rounded"><i class="icon-close"></i>Cancelar</button>
            </div>

          </form>
         </div>
        </div>
        <hr>


        <div class="row pt-2">
          <div class="col-12 table-responsive">

            <table id="order-listing" class="table">
              <thead>
                <tr class="bg-light">
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Entrega proyecto</th>
                  <th>Terminaciones</th>
                  <th>Entrega parcial</th>
                  <th>Inst. Cubiertas/imperm.</th>
                  <th>Estructura</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of numbers">
                  <td>S-590</td>
                  <td>Sakata</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>
                    <label class="badge badge-danger">NO</label>
                  </td>
                  <td>
                    21/12/2022
                  </td>
                  <td>
                    28/01/2023
                  </td>
                  <td>
                    <button type="submit" class="btn btn-outline-success btn-rounded"><i class="icon-pencil"></i>Modificar</button>
                    <button type="submit" class="btn btn-outline-danger btn-rounded"><i class="icon-close"></i>Eliminar</button>
                  </td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
