
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">

          <div class="d-flex justify-content-center">
            <h3 id="quote">Dashboard </h3>
          </div>

        </div>
        <hr>
        <div class="row pt-2">
          <div class="col-6">
            <span class="title">Obras con más dinero gastado</span>
            <div  id="_obraMonto" class="chartClass"></div>
          </div>
          <div class="col-6">
            <span class="title">Obras con mas gasto en horas extra y dif. horas extras</span>
            <div  id="_obraHoras" class="chartClass"></div>
          </div>

        </div>

        <div class="row pt-2">
          <div class="col-6">
            <span class="title">Días donde mas se producen horas extras</span>
            <div  id="_horaextra" class="chartClass"></div>
          </div>
          <div class="col-6">
            <span class="title">Bonos más usados </span>
            <div  id="_bonos" class="chartClass"></div>
          </div>

        </div>

        <div class="row pt-2">
          <div class="col-6">
            <span class="title">Personas con mas pago de horas extras y dif. horas extras</span>
            <div  id="_personasmaspago" class="chartClass"></div>
          </div>
          <div class="col-6">
            <span class="title">Bonos por obra </span>
          <!--   <div  id="_bonos" class="chartClass"></div> -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
