<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <hr>

        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-outline-success btn-rounded btn-sm mr-2" (click)="clearNew()"
                data-toggle="modal" data-target="#modalNuevoUser"><i class="icon-plus"></i>Nuevo</button>

            </div>
          </div>
        </div>

        <div class="row pt-2">

           <!-- <div class="col-12">


           <gui-grid #grid id="agile-grid" [theme]="'generic'" [source]="usuarios" [rowColoring]="'none'"
              [sorting]="sorting" [paging]="false" [columnMenu]="columnMenu" [verticalGrid]="false"
              [horizontalGrid]="true" [cellEditing]="true" [loading]="loading"
              [infoPanel]="false">



              <gui-grid-column header="Nombre usuario" field="nombre_usuario" type="string" width="120"
                [cellEditing]="false">
              </gui-grid-column>

              <gui-grid-column header="Usuario" field="usuario" type="string" [cellEditing]="false" width="180">
              </gui-grid-column>

              <gui-grid-column header="Mail" field="mail" type="string" [cellEditing]="false" width="100">
              </gui-grid-column>
              <gui-grid-column header="Estado" field="estado" type="string" [cellEditing]="false" width="100">
                <ng-template let-value="value">
                  <label class="badge" [ngClass]="value=='Activo' ? 'badge-success' : 'badge-danger'">{{value}}</label>
                </ng-template>
              </gui-grid-column>

              <gui-grid-column header="Acciones">

                <ng-template let-value="value" let-item="item">
                  <button type="button" class="btn btn-outline-dark btn-rounded mr-2 btn-sm" data-toggle="modal"
                    (click)="getObras(item)" data-target="#modalAsociarObras"><i class="icon-people"></i>Asociar
                    obras</button>

                  <button type="button" class="btn btn-outline-success btn-rounded btn-sm mr-2" data-toggle="modal"
                    data-target="#modalEditUser" (click)="editModal(item)"><i class="icon-pencil"></i>Modificar</button>

                  <button type="button" class="btn btn-outline-danger btn-rounded btn-sm" (click)="deleteUser(item)"><i
                      class="icon-trash"></i>Eliminar</button>

                </ng-template>
              </gui-grid-column>

            </gui-grid>
          </div>-->
          <div class="col-12 table-responsive1">

            <ag-grid-angular #Grid style="width: 100%; height: 100%;" class="ag-theme-alpine"
            [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [rowData]="usuarios"
              [suppressMenuHide]="true"
              [pagination]="true"
              [groupSelectsChildren]="true"
              [enableCellChangeFlash]="true"
               [suppressMaxRenderedRowRestriction]="true"
              [overlayLoadingTemplate]="overlayLoadingTemplate"
              [overlayNoRowsTemplate]="overlayNoRowsTemplate"
              [localeText]="localeText"
             ></ag-grid-angular>

            <!--   <table id="order-listing" class="table table-bordered table-striped">
              <thead class="thead-dark">
                <tr class="bg-light">
                  <th>ID</th>
                  <th>Nombre usuario </th>
                  <th>Usuario</th>

                  <th>Mail</th>
                  <th>Estado</th>

                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="usuarios.length>0;else nodata">
                <tr *ngFor="let item of usuarios;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.nombre_usuario}}</td>

                  <td>
                    {{item.usuario}}
                  </td>
                  <td>
                    {{item.mail}}
                  </td>
                  <td>
                    <label class="badge"
                      [ngClass]="item.estado=='Activo' ? 'badge-success' : 'badge-danger'">{{item.estado}}</label>
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-dark btn-rounded mr-2 btn-sm" data-toggle="modal"
                      (click)="getObras(item)" data-target="#modalAsociarObras"><i class="icon-people"></i>Asociar
                      obras</button>
                    <button type="button" class="btn btn-outline-success btn-rounded btn-sm mr-2" data-toggle="modal"
                      data-target="#modalEditUser" (click)="editModal(item)"><i
                        class="icon-pencil"></i>Modificar</button>
                    <button type="button" class="btn btn-outline-danger btn-rounded btn-sm"
                      (click)="deleteUser(item)"><i class="icon-trash"></i>Eliminar</button>
                  </td>

                </tr>


              </tbody>
              <ng-template #nodata>
                <tbody>
                  <tr>
                    <td colspan="6" align="center">** Sin datos **</td>
                  </tr>
                </tbody>
              </ng-template>

            </table> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal nuevo usuario-->
<div class="modal fade" id="modalNuevoUser" tabindex="-1" role="dialog" aria-labelledby="modalNuevoUserLabel"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoUserLabel">Nuevo usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="userForm">
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Nombre</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="usuario" type="text" placeholder="Nombre de ejemplo"
                formControlName="usuario">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Usuario</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="nombre" type="text" placeholder="Inarco" formControlName="nombre">
            </div>


          </div>
          <div>

            <div class="form-group row">
              <div class="col-lg-3">
                <label class="col-form-label">Contraseña</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" name="pass" type="password" placeholder="****" formControlName="pass">

              </div>


            </div>
            <div class="form-group row">
              <div class="col-lg-3">
                <label class="col-form-label">Repetir contraseña</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" name="confirmPass" type="password" placeholder="****"
                  formControlName="confirmPassword">

                <small *ngIf="userForm.hasError('notSame')" class="text-danger">
                  Las contraseñas no coinciden
                </small>

              </div>


            </div>
          </div>



          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Mail</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="email" type="email" placeholder="ejemplo@inarco.cl"
                formControlName="mail">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Estado</label>
            </div>
            <div class="col-lg-8">
              <select class="form-control" formControlName="estado" name="estado">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>

            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Firma</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="firma" type="file"
                formControlName="firma">
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="crearUsuario()"
          [disabled]="!userForm.valid">Grabar</button>
        <button type="button" class="btn btn-light" data-dismiss="modal" #closeModal>Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal editar usuario-->
<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="modalNuevoUserLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoUserLabel">{{titleModal}} usuario {{userTitleEditModal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="userForm">
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Nombre</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="usuario" type="text" placeholder="Nombre de ejemplo"
                formControlName="usuario" readonly>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Usuario</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="nombre" type="text" placeholder="Inarco" formControlName="nombre"
                readonly>
            </div>


          </div>


          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Mail</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="email" type="email" placeholder="ejemplo@inarco.cl"
                formControlName="mail">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Estado</label>
            </div>
            <div class="col-lg-8">
              <select class="form-control" formControlName="estado" name="estado">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>

            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Firma</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="firma" type="file"
                formControlName="firma">
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveEditUser()"
          [disabled]="!userForm.valid">Grabar</button>
        <button type="button" class="btn btn-light" data-dismiss="modal" #closeModalEdit>Cancelar</button>
      </div>
    </div>
  </div>
</div>


<!--Modal Asociar obras-->
<div class="modal fade" id="modalAsociarObras" tabindex="-1" role="dialog" aria-labelledby="modalAsociarObrasLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAsociarObrasLabel">Asociar obras al usuario {{userSelect.nombre_usuario}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModalAsociar>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="obrasAsociar.length>0">
          <div class="col-md-4" *ngFor="let item of obrasAsociar">
            <div style="border: 1px solid #ccc!important;padding : 5px 10px">
              <div class="mt-2">
                <input type="checkbox" class="mr-2" [(ngModel)]="item.isCheck" [checked]="item.isCheck"> <label
                  class="form-title">{{item.codigo}} | {{item.nombre}} </label>
              </div>

            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="guardarObraAsociada()"
          [disabled]="obrasAsociar.length==0">Grabar</button>
        <button type="button" class="btn btn-light" data-dismiss="modal" #closeModalEdit>Cancelar</button>
      </div>
    </div>
  </div>
</div>
