<div class="table-responsive1" >
  <ag-grid-angular
    #Grid
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [columnDefs]="columnas"
    [defaultColDef]="defaultColDef"

    [rowData]="datos"
    [suppressMenuHide]="true"

    [pagination]="true"
    [groupSelectsChildren]="true"
    [rowSelection]="rowSelection"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [enableCellChangeFlash]="true"

    [suppressMaxRenderedRowRestriction]="true"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    [localeText]="localeText"
    (rowClicked)='onRowClicked($event)'
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (rowValueChanged)="onRowValueChanged($event)"
    [editType]="'fullRow'"
  ></ag-grid-angular>
</div>

