<div class="table-responsive1" >
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [columnDefs]="columnas"
    [defaultColDef]="defaultColDef"
    [rowData]="datos"
    [sideBar]="true"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [pivotPanelShow]="pivotPanelShow"
    [suppressMenuHide]="true"
    [suppressColumnVirtualisation]="false"
    [suppressRowVirtualisation]="false"
    [pagination]="true"
    [groupSelectsChildren]="true"
    [rowSelection]="rowSelection"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [alwaysShowHorizontalScroll]="true"
    [alwaysShowVerticalScroll]="true"
    [suppressMaxRenderedRowRestriction]="true"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    [localeText]="localeText"
    (rowClicked)='onRowClicked($event)'
  ></ag-grid-angular>
</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
