<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!--  <h4 class="card-title">Dif. horas sábado y domingo</h4> -->
        <div class="row">
          <div class="col-4">
            <h4 class="text-left mb-4 text-dark">
              <a [routerLink]="['/obras']"
                ><i class="icon-action-undo mr-2"></i>{{ obra.codigo }} |
                {{ obra.nombre }}</a
              >
            </h4>
          </div>
          <div class="col-sm-6 col-4">
            <h3 id="quote">Dif. horas sábado y domingo {{titlepage}} <span [ngClass]="datosParametros.estado == 'A' ? 'text-success' : 'text-danger'"><u>{{ParametrosService.getEstado(datosParametros.estado)}}</u></span></h3>
          </div>
          <div class="col-sm-2 col-12">
           <!--  <button
            type="button"
            class="btn btn-outline-primary btn-rounded pull-right"

            (click)="get();"
          >
            <i class="icon-reload"></i>Integración
          </button> -->

            <app-btn-reporte-excel
            [data]="data"
            [headings]="headings"
            [sheetName]="'Hoja1'"
            [_from]="'sabdom'"
            [fileName]="'Reporte_Diferencia_sabdom_'+obra.codigo+'_'+obra.nombre+'_'+titlepage"
          >
          </app-btn-reporte-excel>

           <!--  <button
              type="button"
              class="btn btn-outline-dark btn-rounded ml-2 pull-right"
              (click)="createPDF()"
            >
              <i class="icon-doc"></i>Reporte PDF
            </button> -->
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 table-responsive1">
            <strong>Total trabajadores: {{ data.length }} </strong>
            <ag-grid-angular
              #heGrid
              style="width: 100%; height: 100%"
              class="ag-theme-alpine"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [rowData]="data"
              [suppressMenuHide]="true"
              [suppressColumnVirtualisation]="false"
              [suppressRowVirtualisation]="false"
              [pagination]="true"
              [groupSelectsChildren]="true"
              [rowSelection]="rowSelection"
              [enableCellChangeFlash]="true"
              [alwaysShowHorizontalScroll]="true"
              [alwaysShowVerticalScroll]="true"
              [suppressMaxRenderedRowRestriction]="true"
              [overlayLoadingTemplate]="overlayLoadingTemplate"
              [overlayNoRowsTemplate]="overlayNoRowsTemplate"
              [localeText]="localeText"
              (gridReady)="onGridReady($event)"
              [paginationPageSize]="15"
              [rowClassRules]="rowClassRules"
              (rowValueChanged)="onRowValueChanged($event)"
              [editType]="'fullRow'"
            ></ag-grid-angular>

            <!--  <table id="order-listing" class="table table-striped table-bordered" frame=void rules=rows>
              <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th>Correlativo</th>
                  <th >Nombre</th>
                  <th>Cargo</th>

                  <th><span class="text-vertical">H. extra sabado</span> </th>
                  <th><span class="text-vertical">Valor hora</span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th>Valor sábado 1/2 día</th>
                  <th>Valor sábado día</th>
                  <th><span class="text-vertical">H. extras domingo</span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th>Valor domingo 1/2 día</th>
                  <th>Valor domingo día</th>
                  <th>Diferencia día sábado</th>
                  <th>Diferencia día domingo</th>

                  <th><span class="text-vertical">H. extras Sábado </span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th><span class="text-vertical">Diferencia día sábado</span></th>
                  <th><span class="text-vertical">H. extras domingos</span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th><span class="text-vertical">Diferencia día domingo</span></th>

                  <th><span class="text-vertical">H. extras Sábado </span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th><span class="text-vertical">Diferencia día sábado</span></th>
                  <th><span class="text-vertical">H. extras domingos</span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th><span class="text-vertical">Diferencia día domingo</span></th>

                  <th><span class="text-vertical">H. extras Sábado </span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th><span class="text-vertical">Diferencia día sábado</span></th>
                  <th><span class="text-vertical">H. extras domingos</span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th><span class="text-vertical">Diferencia día domingo</span></th>

                  <th><span class="text-vertical">H. extras Sábado </span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th><span class="text-vertical">Diferencia día sábado</span></th>
                  <th><span class="text-vertical">H. extras domingos</span></th>
                  <th><span class="text-vertical">Total</span></th>
                  <th><span class="text-vertical">Diferencia día domingo</span></th>


                  <th>Diferencia mensual sábado</th>
                  <th>Diferencia mensual domingo</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data;let i=index">
                  <td>
                    <button type="button" class="btn btn-icons btn-rounded btn-outline-primary btn-sm"
                      *ngIf="!item.isEdit" (click)="item.isEdit = true"><i class="icon-pencil"></i></button>

                    <div *ngIf="item.isEdit">

                      <button type="button" class="btn btn-icons btn-rounded btn-outline-success btn-sm"
                        (click)="saveEdit(item)"><i class="icon-check"></i></button>

                      <button type="button" class="btn btn-icons btn-rounded btn-outline-danger btn-sm"
                        (click)="item.isEdit = false"><i class="icon-close"></i></button>
                    </div>
                  </td>
                  <td>
                    {{i+1}}
                  </td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.cargo}}</td>
                  <td align="right">
                    {{item.h_ex_sabado_sem1 | number}}
                  </td>
                  <td align="right">
                    {{item.valor_hora | number}}
                  </td>
                  <td align="right">
                    {{item.total_sab_sem1 | number}}
                  </td>
                  <td align="right">


                    <span *ngIf="!item.isEdit;else act"> {{item.sab_medio_sem1 | number}}</span>
                    <ng-template #act>
                      <input [(ngModel)]="item.sab_medio_sem1" name="sab_medio_sem1" id="sab_medio_sem1"
                        style='width:6em' type="number" />
                    </ng-template>

                  </td>
                  <td align="right">
                    <input style='width:6em' [(ngModel)]="item.sab_entero_sem1" *ngIf="item.isEdit;else act1"
                      name="sab_entero_sem1" id="sab_entero_sem1" type="number" />

                    <ng-template #act1>
                      {{item.sab_entero_sem1 | number}}
                    </ng-template>

                  </td>
                  <td align="right">
                    {{item.h_ex_domingo_sem1 | number}}
                  </td>
                  <td align="right">
                    {{item.tot_dom_sem1 | number}}
                  </td>
                  <td align="right">
                    <input style='width:6em' [(ngModel)]="item.dom_medio_sem1" *ngIf="item.isEdit;else act2"
                      name="dom_medio_sem1" id="dom_medio_sem1" type="number" />

                    <ng-template #act2>
                      {{item.dom_medio_sem1 | number}}
                    </ng-template>

                  </td>
                  <td align="right">
                    <input style='width:6em' [(ngModel)]="item.dom_entero_sem1" *ngIf="item.isEdit;else act3"
                      name="dom_entero_sem1" id="dom_entero_sem1" type="number" />

                    <ng-template #act3>
                      {{item.dom_entero_sem1 | number}}
                    </ng-template>

                  </td>
                  <td align="right">
                    {{item.dif_sab_sem1 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_dom_sem1 | number}}
                  </td>

                  <td align="right">
                    {{item.h_ex_sabado_sem2 | number}}
                  </td>
                  <td align="right">
                    {{item.total_sab_sem2 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_sab_sem2 | number}}
                  </td>
                  <td align="right">
                    {{item.h_ex_domingo_sem2 | number}}
                  </td>
                  <td align="right">
                    {{item.tot_dom_sem2 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_dom_sem2 | number}}
                  </td>


                  <td align="right">
                    {{item.h_ex_sabado_sem3 | number}}
                  </td>
                  <td align="right">
                    {{item.total_sab_sem3 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_sab_sem3 | number}}
                  </td>
                  <td align="right">
                    {{item.h_ex_domingo_sem3 | number}}
                  </td>
                  <td align="right">
                    {{item.tot_dom_sem3 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_dom_sem3 | number}}
                  </td>

                  <td align="right">
                    {{item.h_ex_sabado_sem4 | number}}
                  </td>
                  <td align="right">
                    {{item.total_sab_sem4 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_sab_sem4 | number}}
                  </td>
                  <td align="right">
                    {{item.h_ex_domingo_sem4 | number}}
                  </td>
                  <td align="right">
                    {{item.tot_dom_sem4 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_dom_sem4 | number}}
                  </td>

                  <td align="right">
                    {{item.h_ex_sabado_sem5 | number}}
                  </td>
                  <td align="right">
                    {{item.total_sab_sem5 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_sab_sem5 | number}}
                  </td>
                  <td align="right">
                    {{item.h_ex_domingo_sem5 | number}}
                  </td>
                  <td align="right">
                    {{item.tot_dom_sem5 | number}}
                  </td>
                  <td align="right">
                    {{item.dif_dom_sem5 | number}}
                  </td>


                  <td align="right">
                    {{item.total_mensual_sab}}
                  </td>
                  <td align="right">
                    {{item.total_mensual_dom}}
                  </td>

                </tr>


              </tbody>
            </table> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
