<div class="container-scroller">
  <app-header></app-header>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="container-fluid content-wrapper1">
        <div class="row">
          <div class="col-12">

            <h3 class="text-left mb-4  text-dark"> <a [routerLink]="['/obras']"><i class="icon-action-undo mr-2"></i>{{obra}}</a></h3>
          </div>
        </div>

        <router-outlet></router-outlet>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <div >
          <app-footer></app-footer>
      </div>


      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

</div>
