<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <hr>

        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-outline-success btn-rounded mr-2"><i class="icon-plus"></i>Nuevo</button>
              <button type="button" class="btn btn-outline-dark btn-rounded"><i class="icon-people"></i>Asociar obras</button>
            </div>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 table-responsive">

            <table id="order-listing" class="table">
              <thead>
                <tr class="bg-light">
                  <th>Compañia</th>
                  <th>Nombre usuario</th>
                  <th>Usuario</th>

                  <th>Mail</th>
                  <th>Estado</th>

                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td>S-590</td>
                  <td>Sakata</td>

                  <td>
                    sakata
                  </td>
                  <td>
                   prueba@prueba.cl
                  </td>
                  <td>
                    <label class="badge badge-danger">INACTIVO</label>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-outline-success btn-rounded btn-sm mr-2"><i class="icon-pencil"></i>Modificar</button>
                    <button type="submit" class="btn btn-outline-danger btn-rounded btn-sm"><i class="icon-trash"></i>Eliminar</button>
                  </td>

                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
