<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <hr>

        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-outline-success btn-rounded btn-sm mr-2" (click)="clearNew()"
              data-toggle="modal" data-target="#modalNuevoUser"><i class="icon-plus"></i>Nuevo</button>

            </div>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 table-responsive">

            <table id="order-listing" class="table table-striped">
              <thead>
                <tr class="bg-light">
                  <th>ID</th>
                  <th >Nombre usuario </th>
                  <th>Usuario</th>

                  <th>Mail</th>
                  <th>Estado</th>

                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="usuarios.length>0;else nodata">
                <tr *ngFor="let item of usuarios">
                  <td>{{item.id}}</td>
                  <td>{{item.nombre_usuario}}</td>

                  <td>
                    {{item.usuario}}
                  </td>
                  <td>
                   {{item.mail}}
                  </td>
                  <td>
                    <label class="badge" [ngClass]="item.estado=='Activo' ? 'badge-success' : 'badge-danger'">{{item.estado}}</label>
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-dark btn-rounded mr-2 btn-sm"
                    data-toggle="modal" data-target="#modalAsociarObras"><i class="icon-people"></i>Asociar obras</button>
                    <button type="button" class="btn btn-outline-success btn-rounded btn-sm mr-2" data-toggle="modal" data-target="#modalEditUser"
                    (click)="editModal(item)"><i class="icon-pencil" ></i>Modificar</button>
                    <button type="button" class="btn btn-outline-danger btn-rounded btn-sm" (click)="deleteUser(item)"><i class="icon-trash"></i>Eliminar</button>
                  </td>

                </tr>


              </tbody>
              <ng-template #nodata>
                <tbody>
                  <tr>
                    <td colspan="6" align="center">** Sin datos **</td>
                  </tr>
                </tbody>
              </ng-template>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal nuevo usuario-->
<div class="modal fade" id="modalNuevoUser" tabindex="-1" role="dialog" aria-labelledby="modalNuevoUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoUserLabel">Nuevo usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="userForm">
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Nombre</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="nombre" id="nombre" type="text" placeholder="Nombre de ejemplo" formControlName="usuario">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Usuario</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="usuario" id="usuario" type="text" placeholder="Inarco" formControlName="nombre">
            </div>


          </div>
          <div >

            <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Contraseña</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="pass" id="pass" type="password" placeholder="****" formControlName="pass">
            </div>


          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Repetir contraseña</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="usuario" id="usuario" type="password" placeholder="****" formControlName="confirmPassword">
            </div>


          </div>
          </div>



          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Mail</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="email" id="email" type="email" placeholder="ejemplo@inarco.cl" formControlName="mail">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Estado</label>
            </div>
            <div class="col-lg-8">
              <select class="form-control" formControlName="estado" name="estado">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>

            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="crearUsuario()" [disabled]="!userForm.valid">Guardar</button>
        <button type="button" class="btn btn-light" data-dismiss="modal" #closeModal>Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal editar usuario-->
<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="modalNuevoUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNuevoUserLabel">{{titleModal}} usuario {{userTitleEditModal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="userForm">
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Nombre</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="nombre" id="nombre" type="text" placeholder="Nombre de ejemplo" formControlName="usuario" readonly>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Usuario</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="usuario" id="usuario" type="text" placeholder="Inarco" formControlName="nombre" readonly>
            </div>


          </div>


          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Mail</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="email" id="email" type="email" placeholder="ejemplo@inarco.cl" formControlName="mail">
            </div>
          </div>

           <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Estado</label>
            </div>
            <div class="col-lg-8">
              <select class="form-control" formControlName="estado" name="estado">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>

            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="saveEditUser()" [disabled]="!userForm.valid">Editar</button>
        <button type="button" class="btn btn-light" data-dismiss="modal" #closeModalEdit>Cancelar</button>
      </div>
    </div>
  </div>
</div>


<!--Modal Asociar obras-->
<div class="modal fade" id="modalAsociarObras" tabindex="-1" role="dialog" aria-labelledby="modalAsociarObrasLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAsociarObrasLabel">Asociar obras al usuario {{userSelect}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Default usage</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control"  name="defaultconfig" id="defaultconfig" type="text" placeholder="Type Something..">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
