

<div class="row">
  <div class="col-12">
    <img class="img" [src]="rutaLogo"  width="400" height="220" class="img-fluid">

  </div>
</div>

<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12">
                <h3>{{title}}<span class="float-right">Bienvenido: {{usuario}}
                   <button type="button" class="btn btn-primary" [routerLink]="['/admin']" *ngIf="rolUser=='1'"><i class="icon-directions" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-light" (click)="logout()"><i class="icon-logout" aria-hidden="true"></i></button> </span></h3>

        </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-12 grid-margin stretch-card ">
          <div class="card ">
            <div class="card-body">
              <ng-select  placeholder="Seleccionar periodo a ver" *ngIf="periodoActualAbierto"
              (change)="selectPeriodo(modelPeriodo)" [(ngModel)]="modelPeriodo">
                <ng-option [value]="periodoActualAbierto" >
                  <label class="text-primary font-weight-normal"  [ngClass]="periodoActualAbierto.estado == 'C' ? ' text-danger': 'text-success'">
                    {{periodoActualAbierto.quemes}}
                    <i class="ml-1" [ngClass]="periodoActualAbierto.estado == 'C' ? 'icon-lock':'icon-power'"></i>
                  </label>

                </ng-option>
                <ng-option [value]="item" *ngFor="let item of periodos" >
                  <label class="text-primary font-weight-normal"  [ngClass]="item.estado == 'C' ? ' text-danger': 'text-success'">
                    {{item.quemes}}
                    <i class="ml-1" [ngClass]="item.estado == 'C' ? 'icon-lock':'icon-power'"></i>
                  </label>

                </ng-option>
            </ng-select>


              <table class="table" *ngIf="showObras">

                <tbody>
                  <tr style="cursor: pointer;" *ngFor="let item of obras" (click)="go(item)" >

                    <td align="left">
                      <h4 class="font-weight-normal">{{item.codigo}} | {{item.nombre}}</h4>
                    </td>

                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-danger btn-block" routerLink="/">Salir</button>
        </div>
      </div> -->


    </div>
  </div>
</div>

