<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-4">

          </div>
          <div class="col-sm-6 col-4">
            <h3 id="quote">Reporte comparativo {{titlepage}}</h3>
          </div>
        </div>
        <hr/>

        <div class="row">
          <div class="col-12">
            <div class="wizard">
              <div class="wizard-steps">
                <div class="wizard-step" [class.completed]="currentStep > 1" [class.active]="currentStep === 1" (click)="prevStep();currentStep=1" style="cursor: pointer;">
                  <span>Libro remuneraciones <i class="ml-2 icon-check" *ngIf="currentStep>=2"></i></span>

                </div>
                <div class="wizard-step" [class.completed]="currentStep > 2" [class.active]="currentStep === 2" (click)="prevStep()" style="cursor: pointer;">

                  <span>Libro finiquitos <i class="ml-2 icon-check" *ngIf="currentStep==3"></i></span>

                </div>
                <div class="wizard-step" [class.completed]="currentStep == 3" [class.active]="currentStep === 3" >
                  <span >Reporte comparativo <i class="ml-2 icon-pin" *ngIf="currentStep==3"></i></span>

                </div>

              </div>
              <div class="wizard-content">
                <div *ngIf="currentStep === 1">
                  <form [formGroup]="f">
                    <div class="drop-zone"  (click)="file2.click()" style="cursor: pointer;">
                     <p >Seleccionar Libro remuneraciones (Solo archivos .xlsx o .xls) <i class="icon-cloud-upload"></i></p>

                      <input
                      type="file"
                      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                      #file2
                      (change)="handleFileInput($event)"
                      style="display: none"
                      >
                    </div>

                  </form>

                  <table class="table table-borderless" *ngIf="showbtn">
                    <tbody>
                      <tr>
                        <td>
                          <h6>Datos del archivo {{ fileName }}</h6>
                          <p class="text-muted mb-0">
                            Cantidad de datos procesados
                          </p>
                        </td>
                        <td>
                          <h3 class="text-primary">
                            {{ data.length }}
                          </h3>
                        </td>
                      </tr>


                    </tbody>
                  </table>
                  <br>
                  <div class="table-responsive1" *ngIf="dataGrid.length > 0">
                    <app-table-aggrid
                      [datos]="dataGrid"
                      [columnas]="columnDefs"
                    ></app-table-aggrid>
                    <br>

                  </div>
                  <!-- Step 1 content here -->
                  <button type="button" class="btn btn-primary btn-block btn-rounded" (click)="nextStep()" *ngIf="showbtn">Siguiente <i class="icon-arrow-right"></i></button>
                </div>



                <div *ngIf="currentStep === 2">
                 <!--  <h3>Step 2</h3> -->
                  <form [formGroup]="f">
                    <div class="drop-zone"  (click)="fileFiniq.click()" style="cursor: pointer;">
                      <p >Seleccionar Libro Finiquitos (Solo archivos .xlsx o .xls) <i class="icon-cloud-upload"></i></p>

                       <input
                       type="file"
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       #fileFiniq
                       (change)="handleFileInputFiniq($event)"
                       style="display: none"
                       >
                     </div>
                  </form>
                  <table class="table table-borderless" *ngIf="showbtnFiniq">
                    <tbody>
                      <tr>
                        <td>
                          <h6>Datos del archivo {{ fileNameFiniq }}</h6>
                          <p class="text-muted mb-0">
                            Cantidad de datos procesados
                          </p>
                        </td>
                        <td>
                          <h3 class="text-primary">
                            {{ dataFiniq.length }}
                          </h3>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <br>
                  <div class="table-responsive1" *ngIf="dataGridFiniq.length > 0">

                    <app-table-aggrid
                      [datos]="dataGridFiniq"
                      [columnas]="columnDefsFiniq"
                    ></app-table-aggrid>
                    <br>

                  </div>
                  <!-- Step 2 content here -->
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-warning btn-block btn-rounded" (click)="prevStep()"><i class="icon-arrow-left"></i> Volver </button>

                    </div>
                  <div class="col-6" *ngIf="dataGrid.length > 0 && dataGridFiniq.length >0">
                    <button type="button" class="btn btn-outline-success btn-block btn-rounded" (click)="comparar()"> Comparar <i class="icon-shuffle"></i></button>
                  </div>
                  </div>

                  <!-- <button type="button" class="btn btn-primary btn-rounded" (click)="nextStep()" *ngIf="showbtn">Siguiente <i class="icon-arrow-right"></i></button> -->
                </div>
                <!-- Repeat for each step -->
                <div *ngIf="currentStep === 3">
                  <div *ngIf="resultadosComparados.length > 0 && columnDefsComparados.length > 0" class="row">
                    <div class="col-12">
                      <div class="mt-1">
                        <app-btn-reporte-excel
                        [data]="resultadosComparados"
                        [headings]="headings"
                        [sheetName]="'DATOS COMPARADOS'"
                        [_from]="'comparativo'"
                        [fileName]="'Reporte_comparativo_'+titlepage"
                      >
                      </app-btn-reporte-excel>
                      </div>
                      <ul class="nav nav-tabs tab-solid tab-solid-primary" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="tab-5-1" data-toggle="tab" href="#comparados" role="tab" aria-controls="comparados" aria-selected="true">Datos comparados <u style="margin-left: 5px;"> {{resultadosComparados.length }}</u></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="tab-5-2" data-toggle="tab" href="#BUK" role="tab" aria-controls="BUK" aria-selected="false">Diferencias por obra <u style="margin-left: 5px;"> {{resultadosComparadosBUK.length }} </u></a>
                        </li>

                      </ul>
                      <br>
                      <div class="tab-content tab-content-solid">
                        <div class="tab-pane fade show active" id="comparados" role="tabpanel" aria-labelledby="comparados">
                          <div class="row" >
                            <div class="col-12">
                              <div class="table-responsive1">
                                <app-table-aggrid
                                    [datos]="resultadosComparados"
                                    [columnas]="columnDefsComparados"
                                  ></app-table-aggrid>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="BUK" role="tabpanel" aria-labelledby="buk">
                          <div class="row" >
                            <div class="col-12">
                              <div class="table-responsive1">
                                <app-table-aggrid
                                    [datos]="resultadosComparadosBUK"
                                    [columnas]="columnDefsComparadosBUK"
                                    [paginationNumber]="25"
                                  ></app-table-aggrid>
                              </div>


                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                </div>
                <br>
                  <!-- Step 3 content here -->
                  <button type="button" class="btn btn-warning btn-block btn-rounded" (click)="prevStep()"><i class="icon-arrow-left"></i> Volver </button>

                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
