<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Reportes</h4>
        <div class="row">
          <div class="col-8">
            <form [formGroup]="f">
              <label class="">Selecciona el archivo a comparar para generar el reporte</label>
              <input type="file" class="form-control" (change)="handleFileInput($event)" formControlName="file" name="file" />
            </form>

          </div>
          <div class="col-4">
            <div class="mt-4" *ngIf="showbtn">

              <button class="btn btn-outline-primary mr-2 btn-rounded" (click)="getPagos();">Procesar ( {{data.length}} )<i class="fa fa-check ml-2"></i></button>
                <button class="btn btn-outline-danger btn-rounded" (click)="this.f.reset();showbtn=false;this.data=[]"><i class="fa fa-trash"></i></button>

            </div>
          </div>
        </div>
        <div class="row mt-2" *ngIf="this.dataPagos.length>0">
          <div class="col-12">
            <div class="ml-auto">

            </div>
            <button class="btn btn-outline-success btn-rounded mb-2" (click)="exportexc()">Exportar a excel<i class="fa fa-file-excel-o ml-2"></i></button>
            <label>Datos del sistema a comparar {{dataPagos.length}}</label>
            <div class="table-responsive1">
              <app-table-aggrid #dtGrid [datos]="dataGrid" [columnas]="columnDefs"></app-table-aggrid>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
