<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Parámetros</h4>
        <hr>
        <div class="row">
          <div class="col-12">
           <form>
             <div class="form-row">
               <div class="form-group col-md-4">
                 <label for="inputEmail4">Quincena</label>
                 <input type="radio" class="form-control" id="inputZip">

               </div>
               <div class="form-group col-md-4">
                <label for="inputEmail4">Mes y año de trabajo</label>
                <input type="date" class="form-control">
               </div>
             </div>

             <div class="form-row">
               <div class="form-group col-md-4 ">
                 <label for="inputZip">Fin de mes</label>
                 <input type="radio" class="form-control" id="inputZip">
               </div>

             </div>
             <div class="d-flex justify-content-end">
               <button type="submit" class="btn btn-success btn-rounded"><i class="icon-check"></i>Guardar</button>
               <button type="submit" class="btn btn-danger btn-rounded"><i class="icon-close"></i>Cancelar</button>
             </div>

           </form>
          </div>
         </div>


        <div class="row pt-2">
          <div class="col-12 table-responsive">

            <table id="order-listing" class="table">
              <thead>
                <tr class="bg-light">
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td>-</td>
                  <td>-</td>

                  <td>
                    <button type="submit" class="btn btn-outline-success btn-rounded btn-sm mr-2"><i class="icon-pencil"></i>Modificar</button>
                    <button type="submit" class="btn btn-outline-danger btn-rounded btn-sm"><i class="icon-trash"></i>Eliminar</button>
                  </td>

                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
