<!-- partial:partials/_horizontal-navbar.html -->
<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
  <div class="nav-top flex-grow-1" style="background-color: #003366 !important;">
    <div class="container d-flex flex-row h-100 align-items-center" >
      <div class="text-center navbar-brand-wrapper d-flex align-items-center">
        <a class="navbar-brand brand-logo" href="/obras/inicio"><img [src]="rutaLogo" width="200" height="220"
            class="img-fluid  img-rounded" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="/obras/inicio"><img [src]="rutaLogo" alt="logo" /></a>
        <h4 class="text-white pl-3">Sistema de RRHH - Obras</h4>
      </div>
      <!-- PERIODO SELECCIONADO -->
    <!--   <button class="btn btn-rounded btn-sm  dropdown-toggle"
      [ngClass]="periodoActualAbierto?.estado == 'C' ? 'btn-outline-danger':'btn-outline-success'"
       type="button" id="dropdownMenuButton5"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span><i  [ngClass]="periodoActualAbierto?.estado == 'C' ? 'icon-lock':'icon-power'"></i>  {{periodoActualAbierto?.quemes}} </span>
      </button> -->
      <!-- PERIODOS CERRADOS -->
     <!--  <div class="dropdown-menu" >
        <div *ngFor="let item of periodos.reverse()">

          <button class="dropdown-item "  (click)="changeData(item)"
          [ngClass]="item?.estado == 'C' ? ' text-danger': 'text-success'"
            style="cursor: pointer;">{{item?.quemes}} <i class="ml-2"  [ngClass]="item?.estado == 'C' ? 'icon-lock':'icon-power'"></i>
            </button>
        </div>
      </div> -->

      <!--BOTON SALIDA -->
      <div class="navbar-menu-wrapper d-flex  justify-content-between flex-grow-1 text-white">
        <ul class="navbar-nav navbar-nav-right mr-0 ml-auto ">
          <li class="nav-item nav-profile dropdown">
            <a class="btn-link nav-link dropdown-toggle " href="#" data-toggle="dropdown" id="profileDropdown">

              <span class="nav-profile-name"><i class="icon-user"></i> {{user}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown " aria-labelledby="profileDropdown">

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalCambiarClave"
                (click)="changePassForm.reset()">
                <i class="icon-key text-primary mr-2"></i>
                Cambiar contraseña
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">
                <i class="icon-logout text-primary mr-2"></i>
                Salir
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize"
        (click)="toggleBar = !toggleBar">
        <span class="icon-menu"></span>
      </button>
      </div>

    </div>
  </div>
  <div class="nav-bottom " [ngClass]="toggleBar ? 'header-toggled' : ''">

    <div class="container">
      <ul class="nav page-navigation ">
        <ng-container *ngFor="let item of menu">
          <li class="nav-item" [ngClass]="setActive(item)" *ngIf="item.href;else submenu">
            <a [routerLink]="[item.href]" class="nav-link"><i class="link-icon {{item.icon}}"></i><span
                class="menu-title">{{item.title}}</span></a>
          </li>

          <ng-template #submenu>
            <li class="nav-item " >
              <a
              class="nav-link" *ngIf="item.submenu?.length > 0"><i class="link-icon {{item.icon}}"></i><span class="menu-title">{{item.title}}</span><i class="menu-arrow"></i></a>

              <div class="submenu">
                <ul class="submenu-item" #submenu>
                  <li class="nav-item"  *ngFor="let item1 of item.submenu">
                    <a class="nav-link" [routerLink]="[item1.href]">{{item1.title}}</a>
                  </li>

                </ul>
              </div>


            </li>
          </ng-template>


        </ng-container>
      </ul>

    </div>
  </div>
</nav>


<!--Modal Cambiar clave-->
<div class="modal fade" id="modalCambiarClave" tabindex="-1" role="dialog" aria-labelledby="modalCambiarClaveLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCambiarClaveLabel">Cambiar contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="changePassForm" (ngSubmit)="changePass()">
        <div class="modal-body">


          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Contraseña actual</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="actual" id="actual" type="password" placeholder="xxxx"
                formControlName="actual">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Nueva contraseña</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="nueva" id="nueva" type="password" placeholder="xxxxx"
                formControlName="nueva">
              <small *ngIf="changePassForm.get('nueva').hasError('minlength')" class="text-danger">La contraseña debe
                ser mínimo 6 caractéres.</small>
            </div>


          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="col-form-label">Repita contraseña</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" name="rol" id="rol" type="password" placeholder="xxxx"
                formControlName="repetir">
              <small *ngIf="changePassForm.hasError('passwordMismatch')" class="text-danger">Las contraseñas no
                coinciden.</small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="!changePassForm.valid">Cambiar contraseña</button>
          <button type="button" class="btn btn-light" data-dismiss="modal" #cerrarModal>Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
