 <!-- partial:partials/_horizontal-navbar.html -->
 <nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
  <div class="nav-top flex-grow-1">
    <div class="container d-flex flex-row h-100 align-items-center">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center">
        <a class="navbar-brand brand-logo" href="/obras/inicio"><img src="../../../../assets/images/logo-inarco-new-removebg-preview.jpg" width="200" height="220" class="img-fluid"  alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="/obras/inicio"><img src="../../../../assets/images/descarga.png" alt="logo"/></a>
        <h4 class="text-white pl-3">Sistema de RRHH</h4>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between flex-grow-1">
        <form class="search-field d-none d-md-flex" action="#">
          <div class="form-group mb-0">
            <div class="input-group">
              <!-- <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-magnifier"></i></span>
              </div> -->
              <!-- <input type="text" class="form-control" placeholder="search here..."> -->
            </div>
          </div>
        </form>
        <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
             <!--  <img src="https://via.placeholder.com/39x39" alt="profile"/> -->
              <span class="nav-profile-name">{{user}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">
                <i class="icon-settings text-primary mr-2"></i>
                Cambiar contraseña
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()" >
                <i class="icon-logout text-primary mr-2"></i>
                Salir
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="nav-bottom">
    <div class="container">
      <ul class="nav page-navigation ">
        <ng-container *ngFor="let item of menu">
          <li class="nav-item" *ngIf="item.href;else submenu">
            <a [routerLink]="[item.href]" class="nav-link"><i class="link-icon {{item.icon}}"></i><span class="menu-title">{{item.title}}</span></a>
          </li>

          <ng-template #submenu>
            <li class="nav-item ">
              <a class="nav-link"><i class="link-icon {{item.icon}}"></i><span class="menu-title">{{item.title}}</span><i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item" *ngFor="let item of item.subitem"><a class="nav-link" [routerLink]="[item.href]">{{item.title}}</a></li>

                </ul>
              </div>
            </li>
          </ng-template>


        </ng-container>
      </ul>
    </div>
  </div>
</nav>
