.form-control1{
  border: 1px solid #f2f2f2;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    padding: 0.56rem 0.75rem;
    line-height: 14px;
    font-weight: 300;
    width: 80px;
}

.ag-theme-alpine {
  --ag-grid-size: 3px;
  --ag-list-item-height: 20px;
}


.ag-floating-filter-input{
  height: 50px !important;
}


