<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <h4 class="text-left mb-4 text-dark">
              <a [routerLink]="['/obras']"
                ><i class="icon-action-undo mr-2"></i>{{ obra.codigo }} |
                {{ obra.nombre }}</a
              >
            </h4>
          </div>
          <div class="col-sm-6 col-6">
            <app-cabecera-pages [titulo]="'Horas extra'"
            ></app-cabecera-pages>
          </div>
          <div class="col-3">
           <!--  <button
            type="button"
            class="btn btn-outline-primary btn-rounded pull-right"

            (click)="getHoraExtra();"
          >
            <i class="icon-reload"></i>Integración
          </button> -->
            <app-btn-reporte-excel
              [data]="data"
              [headings]="headings"
              [sheetName]="'Hoja1'"
              [_from]="'hh'"
              [fileName]="'Reporte_HorasExtras_'+obra.codigo+'_'+obra.nombre"
            >
            </app-btn-reporte-excel>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12">
            <div class="table-responsive1">
              <strong>Total trabajadores: {{ data.length }} </strong>
              <ag-grid-angular
                #heGrid
                style="width: 100%; height: 100%"
                class="ag-theme-alpine"
                [groupHeaderHeight]="groupHeaderHeight"
                [headerHeight]="headerHeight"
                [floatingFiltersHeight]="50"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [rowData]="data"
                [suppressMenuHide]="true"
                [suppressColumnVirtualisation]="false"
                [suppressRowVirtualisation]="false"
                [pagination]="true"
                [groupSelectsChildren]="true"
                [rowSelection]="rowSelection"
                [enableCellChangeFlash]="true"
                [alwaysShowHorizontalScroll]="false"
                [alwaysShowVerticalScroll]="true"
                [suppressMaxRenderedRowRestriction]="true"
                [overlayLoadingTemplate]="overlayLoadingTemplate"
                [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                [localeText]="localeText"
                [paginationPageSize]="15"
                [rowClassRules]="rowClassRules"
                (gridReady)="onGridReady($event)"
                (rowEditingStopped)="onRowValueChanged($event)"
                [editType]="'fullRow'"
              ></ag-grid-angular>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
