

<div class="container-scroller">
  <app-header-sa></app-header-sa>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="container-fluid content-wrapper1">
        <router-outlet></router-outlet>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <div >
        <!--   <app-footer></app-footer> -->
      </div>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

</div>
