<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Parámetros del sistema</h4>
        <hr>
        <form [formGroup]="formDate">
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="col-md-4">
                <div class="form-row">


                  <div class="form-group ">
                    <label for="inputEmail4">Primer día Lunes del período</label>
                    <input type="date" class="form-control " formControlName="inicio" name="date">
                  </div>
                </div>
               <!--  -->
              </div>

              <div class="col-md-4">
                <div class="form-row">
                  <div class="form-group ">
                    <label for="inputEmail4">Último día del período</label>
                    <input type="date" class="form-control " formControlName="final" name="date">
                  </div>
                </div>


              </div>

            </div>


          </div>
        </form>
        <hr>
        <div class="row">

          <div class="d-flex justify-content-center">


            <div class="col-md-4">
              <div class="form-row mb-3">
                <div class="form-group ">
                  <label for="inputEmail4">Obra</label>
                 <select class="form-control" name="obra" id="obra" [(ngModel)]="obraSelect">
                  <option value="" disabled>Seleccionar obra</option>
                  <option *ngFor="let item of arrobras" [value]="item.codigo">{{item.codigo}} | {{item.nombre}}</option>

                 </select>
                </div>
              </div>
            <div class="form-row">
              <div class="form-group ">
                <label for="inputEmail4">Quincena</label>
                <input type="radio" class="ml-2" id="inputZip" name="cierre" value="Q" [(ngModel)]="opcionSeleccionada">
                <button class="btn btn-primary btn-rounded ml-2" [disabled]="validbtn() || opcionSeleccionada == 'F'" (click)="cierre('Q','Cierre quincena')">Cierre de quincena</button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group ">
                <label for="inputZip">Fin de mes</label>
                <input type="radio" class="ml-2" id="inputZip" name="cierre" value="F" [(ngModel)]="opcionSeleccionada" >
                <button class="btn btn-primary btn-rounded ml-2" [disabled]="validbtn() || opcionSeleccionada == 'Q'" (click)="cierre('F','Cierre fin de mes')">Cierre fin de mes</button>
              </div>
            </div>

          </div>
          </div>



        </div>


        <!--   <div class="row pt-2">
          <div class="col-12 table-responsive1">

            <table id="order-listing" class="table table-bordered table-striped" *ngIf="daysTable.length >0">
              <thead class="thead-dark">
                <tr class="bg-light" >
                  <th *ngFor="let item of daysTable" class="text-vertical">{{item.dia}} | {{item.nombre}}</th>

                </tr>
              </thead>
              <tbody>
                <tr >
                  <td *ngFor="let item of daysTable"> -</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div> -->
        <!--
        <div class="row pt-2">
          <div class="col-12 ">
              <small><strong>H =</strong> Hábil </small>
              <br>
              <small> <strong>S =</strong> Sábado</small>
              <br>
              <small> <strong>F =</strong> Feriado</small>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
