<div class="card">
  <div class="card-body">
    <h4 class="d-flex justify-content-center">Parámetros del sistema</h4>
    <hr>
    <div class="row">
      <div class="col grid-margin stretch-card">
        PERIODO ACTUAL: <label *ngIf="paramss" class="ml-3"> {{paramss.quemes}}</label>
      </div>

     <!--  <div class="col grid-margin stretch-card">
        Primer dia Lunes del periodo: <br>
        <label *ngIf="paramss" class="ml-3"> {{paramss.inicio_periodo}}</label>
      </div>
      <div class="col grid-margin stretch-card">
        Último dia del periodo: <br>
        <label *ngIf="paramss" class="ml-3"> {{paramss.final_periodo}}</label>
      </div> -->
      <div class="col grid-margin stretch-card">
        Quincena: <br>
        <!--  <input type="radio" class="ml-2" id="inputZip" name="cierre" value="Q" [(ngModel)]="opcionSeleccionada"> -->
        <button class="btn btn-primary btn-rounded ml-2" (click)="cierre('Q','quincena')" *ngIf="paramss"
          [disabled]="paramss.tipo_proceso=='S'">
          Cierre de quincena
        </button>
      </div>
      <div class="col grid-margin stretch-card">
        Fin de mes: <br>
        <!-- <input type="radio" class="ml-2" id="inputZip" name="cierre" value="Q" [(ngModel)]="opcionSeleccionada"> -->
        <button class="btn btn-primary btn-rounded ml-2" (click)="cierre('S','fin de mes')" *ngIf="paramss"
          [disabled]="paramss.tipo_proceso =='Q' ">Cierre fin de mes</button>
      </div>


    </div>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive1">
          <ag-grid-angular
          #pGrid
          style="width: 100%; height: 100%"
          class="ag-theme-alpine"

          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [rowData]="parametrosArray"
          [suppressMenuHide]="true"
          [suppressColumnVirtualisation]="false"
          [suppressRowVirtualisation]="false"
          [pagination]="true"
          [groupSelectsChildren]="true"
          [rowSelection]="rowSelection"
          [enableCellChangeFlash]="true"
          [alwaysShowHorizontalScroll]="false"
          [alwaysShowVerticalScroll]="true"
          [suppressMaxRenderedRowRestriction]="true"

          [paginationPageSize]="15"
          [rowClassRules]="rowClassRules"
          (gridReady)="onGridReady($event)"
          (rowValueChanged)="onRowValueChanged($event)"
          [editType]="'fullRow'"
        ></ag-grid-angular>
        </div>


       <!--  <table id="order-listing" class="table table-bordered" *ngIf="parametrosArray.length >0">
          <thead class="thead-dark">
            <tr class="bg-light">
              <th>Periodo actual</th>
              <th>Primer dia lunes del periodo</th>
              <th>Último día del periodo</th>
              <th>Estado</th>
              <th>Tipo proceso</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of parametrosArray">
              <td>
                {{item.quemes}}
              </td>
              <td>
                {{item.inicio_periodo}}
              </td>
              <td>
                {{item.final_periodo}}
              </td>
              <td>
                <span [ngClass]="item.estado =='A' ? 'text-success': 'text-danger'">{{formatEstado(item.estado)}}</span>
              </td>
              <td>
                <span [ngClass]="item.tipo_proceso =='Q' ? 'text-info': 'text-dark'">{{formatProceso(item.tipo_proceso)}}</span>
              </td>

            </tr>
          </tbody>
        </table> -->
      </div>
    </div>

  </div>
</div>
