/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import '~handsontable/dist/handsontable.full.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

/* Mandatory */
@import '~ng-wizard/themes/ng_wizard.min.css';

/* Optional */
/* If a theme other than default is used, the css file for that theme is required. */
@import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';
.ng-invalid:not(form)  {
  border: 1px solid #ff5e5e /* red */
}
@import 'ngx-toastr/toastr';

.text-vertical {
  writing-mode: vertical-lr; -ms-writing-mode: tb-rl; transform: rotate(180deg)
}

.wraptxt{
  white-space: break-spaces !important;
}


.wraptxt1{
  white-space: pre-wrap !important;
}

thead tr th {
  position: sticky;
  top: 0;

  background-color: #ffffff;
}

.table-responsive1 {
  height:auto;
  z-index: 10;
  position: relative;
  overflow: auto;
}

.sick-days-warning {
  background-color: #f0b7b7 !important;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
}

.ag-root-wrapper-body.ag-layout-normal.ag-focus-managed {
  height: 100%;
}
.content-wrapper1 {
  padding: 1.5rem 0;
  width: 100%;
  padding-right: 6px;
  padding-left: 6px;
  margin-right: auto;
  margin-left: auto;
  min-height: calc(100vh - 181px);
  flex-grow: 1
}

.form-control{
  font-size: 1rem !important;
}

.ag-text-field-input{
  font-size: 1rem !important;

}

.ag-body {
  font-size: 1rem !important;

}
.nav-profile-name{
  font-size: 1.5rem !important;

}

